
.co-deckgrid-container {
    padding-left: 0px;
    padding-right: 0px;

}

.co-deckgrid-element {
    padding-left: 0px;
    padding-right: 0px;
    background-color: red;
    height: 120px;
    margin-bottom: 10px;
}


