
.co-deckgrid-container {
    padding-left: 0px;
    padding-right: 0px;
}

.co-deckgrid-element {
    padding-left: 0px;
    padding-right: 10px;
    height: 140px;
    margin-bottom: 10px;
}

.co-deckgrid-element-main {
    height: 290px;
}

.co-deckgrid-content {
    height: 100%;
    width: 100%;
    background: url(http://lorempixel.com/300/400/nightlife) no-repeat;
    background-size: 100%;
}
