<div class="co-deckgrid">
    <co-deckgrid-element class="col-md-7 col-xs-12 col-sm-12" co-data="mainItem">
    </co-deckgrid-element>
    <div class="col-md-5 col-xs-12 col-sm-12 co-deckgrid-group">
        <co-deckgrid-element class="col-md-12 col-xs-12 col-sm-12" ng-repeat="item in secondItems" co-data="item">
        </co-deckgrid-element>
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 co-deckgrid-group">
        <co-deckgrid-element class="col-md-3 col-xs-12 col-sm-12" ng-repeat="item in restItems" co-data="item">
        </co-deckgrid-element>
    </div>
</div>
