<div>
    <div class="col-md-7 co-deckgrid-element co-deckgrid-element-main">
        <div class="co-deckgrid-content">
        </div>
    </div>
    <div class="col-md-5 co-deckgrid-container">
        <div class="col-md-12 co-deckgrid-element" ng-repeat="item in secondItems">
            <div class="co-deckgrid-content">
            </div>
        </div>
    </div>
    <div class="col-md-12 co-deckgrid-container">
        <div class="col-md-3 co-deckgrid-element" ng-repeat="item in restItems">
            <div class="co-deckgrid-content">
            </div>
        </div>
    </div>
</div>
