html, body {
    height: 100%;
}

.tipping-fill {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.co-leftbar {
    background-color: #151515;
    height: 100%;
    padding: 0px;
    
    .co-leftbar-content {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .co-leftbar-bottombar {
        position: absolute;
        bottom: 15px;
        width: 100%;
        color: rgb(124,124,124);
    }

    .co-leftbar-bottombar:hover {
        color: white; 
    }

    div {
        border: 0px;    
        border-radius: 0px;
        background-color: transparent;
        padding: 0px; 
        text-align: center;
    }
    
    p {
        
        font-size: 12px;
        font-family: 'Myriad Pro Semibold';
    }
    
    .co-leftbar-dots {
        width: 20px;    
    }

    .co-leftbar-logo {
        width: 30px;    
    }

    .panel {
        .panel-heading {
            height: 134px;
        }
        .panel-body {
            .list-group-item {
                color: rgb(124,124,124);
                cursor: pointer;
            }
            .list-group-item:hover {
                color: white;
            }
            .co-leftbar-selected {
                color: white;
            }
        }
    }  
}


.tipping-background {
    background-color: #212121;
    overflow: auto;
}
