html, body {
    height: 100%;
}

.tipping-fill {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.tipping-leftbar {
    height: 100%;
    background-color: #151515;
    padding-top: 134px;
    padding-left: 0px;
    padding-right: 0px;

    > .list-group-item {
        text-align: center;
        padding: 0px;
        cursor: pointer;
        color: rgba(124,124,124,1);
        background-color: transparent;
        height: 110px;
        border-width: 0px;
        font-size: 12px;
        font-family: 'Myriad Pro Semibold';
    }

    > .list-group-item:hover {
        color: white;
    }
    
    > .co-leftbar-selected {
        color: white;    
    }
    
    .co-leftbar-logo {
        width: 30px;
    }    
}

.tipping-background {
    background-color: #212121;
    overflow: auto;
}
