<div class="col-md-12 co-tab-zero" ng-controller="TabCtrl"> 
    <div class="co-tab-fill">

        <div class="col-md-8 col-xs-12 col-sm-12 co-tab-zero">
            <co-deckgrid>
            </co-deckgrid>
        </div>
        <div class="col-md-4 co-tab-zero">
            <div class="col-md-12 co-tab-zero">
                <co-charts>
                </co-charts>
            </div>
            <div class="col-md-12 co-tab-zero">
                <co-transactions>
                </co-transactions>
            </div>
            <div class="col-md-12 co-tab-zero">
                <co-chat>
                </co-chat>
            </div>
        </div>
    </div>
</div>
