.co-transactions-panel {
    background-color: rgba(0,0,0,0);
    margin-bottom: 0px;
    border-width: 0px;
}

.co-transactions-panel-header {
    padding-left: 0px;
    border-width: 0px;
}

.co-transactions-panel-header-text {
    color: rgb(150,150,150);
    font-size: 13px;
    margin: 0px;
    font-weight: 500;
}

.co-transactions-panel-body {
    padding: 0px;
    height: 150px;
    overflow-y: auto;
}

.co-transactions-item {
    background-color: rgba(0,0,0,0);
    border-width: 0px;
    height: 50px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 0px !important;
    border-color: rgb(50,50,50);
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.co-transactions-item-title {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(150,150,150);
}

.co-transactions-item-address {
    margin-bottom: 10px;
    font-size: 10px;
}
