<div class="col-md-12 tipping-navbar-container" ng-controller="DashboardTabsCtrl">
    <div class="navbar navbar-inverse tipping-navbar-tabs">
        <div class="navbar-collapse collapse tipping-navbar-tabs-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in links" ui-sref-active="tipping-navbar-tab-selected" class="tipping-navbar-tab">
                    <a ui-sref="leftbar.dashboard.tabs.channel({channel:link.title})">
                        <i class="fa fa-globe fa-lg"></i>
                        <span class="co-tab-bold">
                            &nbsp;#{{link.title}}
                        </span>
                        <span class="co-tab-small">{{link.subtitle}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="tab"></div>
</div>
