.co-deckgrid-element-title {
    color: white;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.co-deckgrid-element-icon {
    color: white;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
