<div>
    <div class="panel co-chat-panel">
        <div class="panel-heading co-chat-panel-header">
            <p class="co-chat-panel-header-text">
                WHISPER STREAM
            </p>
        </div>
        <div class="panel-body co-chat-body">
            <div class="list-group">
                <a class="list-group-item co-chat-item" ng-repeat="message in messages">
                    <span class="co-chat-item-avatar-circle">
                        <i class="fa fa-user co-chat-item-avatar-fa"></i>
                    </span>
                    <span am-time-ago="message.time" class="pull-right co-chat-item-time"></span>
                    <p class="co-chat-item-title">
                        Author
                    </p>
                    <p class="co-chat-item-text">
                        {{message.text}}
                    </p>
                </a> 
            </div>
        </div>
        <div class="panel-footer co-chat-footer">
            <span class="co-chat-item-avatar-circle co-chat-footer-circle">
                <i class="fa fa-user co-chat-item-avatar-fa"></i>
            </span>
            <form class="input-group" ng-submit="sendMessage()">
                <input class="form-control co-chat-input" type="text" placeholder="Send a message..." ng-model="inputMessage">
                </input>
                <span class="input-group-btn">
                    <button class="btn btn-default co-chat-input-button" type="button">
                        <i class="fa fa-send-o"></i> 
                    </button>
                </span>
            </form>
        </div>
    </div>
</div>
