<div class="col-md-12 tipping-navbar-container" ng-controller="DashboardTabsCtrl">
    <div class="navbar navbar-inverse tipping-navbar-tabs">
        <div class="navbar-collapse collapse navbar-inverse-collapse tipping-navbar-tabs-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a>#general</a>
                </li>
                <li>
                    <a>#friends</a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view="tabs">
</div>
