.tipping-navbar-tabs {
    border-radius: 0px;
    background-color: #303030;
    height: 50px;
    border-width: 0px;
    border-top-width: 1px;
    border-top-color: #3d3d3d;
}

.tipping-navbar-tabs-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.tipping-navbar-tab {
    width: 200px;
    margin-top: -1px;
}

.tipping-navbar-tab-selected {
    background-color: #212121;
}

.tipping-navbar-tap-selected:hover {
    background-color: #212121;
}
